body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .row {
    margin-left: 15em;
    margin-top: 2em;
  }
  .strip {
    background-color: beige;
  }  
  .strip1 {
    background-color: antiquewhite;
  }    
  /* .row :nth-child(even){
    background-color: #aaaaaa;
  }
  .row :nth-child(odd){
    background-color: #f1f1f1;
  } */

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .prodcol-1{
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width:15%;
  }
  .prodcol-2{
    /* position: relative; */
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; */
    float: left;
    width:30%;
  }   
  .color1{
    background-color: #4CAF50;
  }
  .desc{
    word-wrap: break-word;
  }
  .qtyinp{
    width:60%;
  }
  